.H_Test {
    position: relative;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    flex-wrap: nowrap;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background-color: #cbd0d8;
}

.H_Test_Header {
    flex-shrink: 0;

    padding: 0.5em;

    font-weight: bold;

    background-color: #b1b8c4;
}

.H_Test_Progress {
    width: 100%;
    height: 0.5em;
    border-radius: 5px;
    margin-bottom: 0.5em;

    background: #f2f2d8;
}

.H_Test_ProgressValue {
    width: 50%;
    height: 100%;
    border-radius: 5px;
    background-color: #d3ac2b;
}

.H_Test_Counts {
    float: left;
}

.H_Test_Lives > span,
.H_Test_Keys > span {
    margin-right: 0.4em;
}

.H_Test_Lives {
    display: inline-block;

    margin-left: 0.4em;

    color: #ff0000;
}

.H_Test_Keys {
    display: inline-block;

    margin-left: 0.4em;

    color: #f2ed00;
}

.H_Test_Time {
    float: right;
}

.H_Test_Body {
    display: flex;
    position: relative;
    flex-grow: 1;

    background-color: #b1b8c4;
}

.H_Test_Popup {
    position: absolute;
    z-index: 2;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    border-radius: 5px;

    font-size: 1.5em;

    color: #ffffff;
    background-color: #84878acc;
}

.H_Test_Chat {
    display: flex;
    position: absolute;
    z-index: 1;
    flex-direction: column;
    list-style-type: none;
    overflow-y: auto;
    box-sizing: border-box;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 15px;
}

.H_Test_Chat > li {
    position: relative;
    box-sizing: border-box;

    width: 100%;
    margin-bottom: 6px;
    padding: 0;
}

.H_Test_Profile {
    display: inline-block;
    vertical-align: middle;

    width: 54px;
    height: 54px;
    border-radius: 50%;
}

.H_Test_Profile-other {
}

.H_Test_Sentence {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    box-sizing: border-box;

    width: 70%;
    min-height: 50px;
    max-width: 300px;
    margin: 0;
    padding: 7px;
    line-height: 1.5em;
    box-shadow: 3px 3px 20px grey;
}

.H_Test_Sentence::after {
    position: absolute;

    content: "";

    top: 0;
    width: 0;
    height: 0;
}

.H_Test_Sentence-me {
    float: right;

    margin-right: 15px;

    color: #000000;
    background-color: #d3ac2b;
}

.H_Test_Sentence-me::after {
    right: -24px;
    border: 12px solid transparent;

    border-left-color: #d3ac2b;
}

.H_Test_Sentence-other {
    margin-left: 15px;

    color: #000000;
    background-color: #f2f2d8;
}

.H_Test_Sentence-other::after {
    left: -24px;
    border: 12px solid transparent;

    border-right-color: #f2f2d8;
}

.H_Test_HintView {
    display: inline-block;

    margin-bottom: 0.3em;
    padding: 0.2em 0 0.2em 0.2em;
}

.H_Test_HintButton {
    cursor: pointer;

    margin-bottom: 0.5em;
    padding: 0.2em 0.4em 0.2em 0.4em;
    border-color: #d3ac2b;

    font-weight: bold;
    font-size: 1em;

    color: #f2f2d8;
    background-color: #d3ac2b;
}

.H_Test_Footer {
    margin: 15px 0 0 0;
    padding: 0.5em 1em 0.2em 1em;

    background-color: #b1b8c4;
}

.H_Test_AnswerArea {
    padding: 4px 4px 0 4px;

    background-color: #333d51;
}

.H_Test_Answer {
    cursor: pointer;
    text-align: left;

    width: 100%;
    margin-bottom: 4px;
    padding: 0.5em;
    border: none;

    font-size: 1em;

    background-color: #cbd0d8;
}

.H_Test_Answer:disabled {
    color: #000000;
}

.H_Test_Answer-hover {
    border-color: #d3ac2b;
    background-color: #d3ac2b;
}

.H_Test_Answer-right {
    border-color: #6078ff;
    background-color: #6078ff;
}

.H_Test_Answer-select {
    border-color: #ff6259;
    background-color: #ff6259;
}
