.test {
    color: red;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.K_profilePic + .K_Log{
    position:relative;
    margin-top: -50px;
}
.K_Log.K_VF + .K_Log.K_VF{
    margin-top: 10px;
}
    .K_Log.K_VF + .K_Log.K_VF::after {
        border-width: 0px;
    }

.K_MainLog {
    padding: 15px;
    height: 600px;
    background-color: #b1b8c4;
    overflow-y: scroll;
}
.K_Log {
    position: relative;
    width: 300px;
    min-height: 50px;
    margin-top: 20px;
    padding: 7px;
    box-shadow: 3px 3px 20px grey;
}
    .K_Log::after {
        content: '';
        position: absolute;
        top: 0px;
        left: -24px;
        width: 0px;
        height: 0px;
        border-width: 12px;
        border-style: solid;
        border-color: transparent #F2F2E8 transparent transparent;
    }
.K_ME {
    background-color: #d3ac2b;
    left: calc(100% - 320px);
}
    .K_ME::after {
        left: 100%;
        border-color: transparent transparent transparent #d3ac2b;
    }
.K_VF {
    background-color: #F2F2E8;
    left: 70px;
}

.K_interacts {
    margin: 15px 0 15px 0;
    height: 165px;
    padding: 15px;
    background-color: #b1b8c4;
}

.K_candidates {
    background-color: #333D51;
    height: 60%;
    display: inline-block;
    width: 100%;
}

.K_cand {
    display: inline-block;
    position: relative;
    background-color: #CBD0D8;
    padding: 6px;
    border: 2px solid #333D51;
    margin: 0 10px 0 0;
    width: 200px;
    height: 100%;
    float: left;
    transition: background-color 0.2s ease-in-out;
    overflow: hidden;
    cursor: pointer;
}
    .K_cand:not(.K_available) {
        background-color: #333D51;
        cursor: default;
    }
    .K_cand.K_available.K_hovering:not(.K_selected) {
        background-color: #d3ac2b;
    }
    .K_cand.K_available.K_selected {
        background-color: #d3ac2b;
        top: 2px;
    }

.K_inputField {
    position: relative;
    background-color: #CBD0D8;
    border: 2px solid #333D51;
    margin: 0 0 10px 0;
    width: 670px;
    height: 44px;
    padding: 10px;
    float: left;
    transition: background-color ease-in-out 0.2s;
}

    .K_inputField.K_alert {
        background-color: #d3ac2b;
    }

.K_inputValue {
    margin: 0 0 0 0;
    font-weight: normal;
    font-size: 20px;
    position: absolute;
    right: 5%;
    width: 92%;
    top: 50%;
    transform: translate(0%, -50%);
}

.K_commitButton {
    background-color: #d3ac2b;
    position: relative;
    margin: 0 0 10px 10px;
    width: 70px;
    height: 44px;
    border: 2px solid #333D51;
    float: left;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}
    .K_commitButton:not(.K_active) {
        background-color: #CBD0D8;
        cursor: default;
    }

    .K_commitButton.K_hovering.K_active:not(.K_selected) {
        background-color: #a98a23;
    }

    .K_commitButton.K_selected.K_active {
        background-color: #a98a23;
        top: 5px;
    }

.K_word{
    position: relative;
    font-weight: bold;
    cursor: pointer;
}
.K_word:hover{
    text-decoration: dashed underline;
}

.K_wordPopup {
    pointer-events: none;
    position: absolute;
    background-color: #d3ac2b;
    min-height: 50px;
    width: 200px;
    bottom: 35px;
    right: 50%;
    transform: translate(50%, 0%);
    padding: 5px;
    text-align: center;
    opacity: 0;
    transition: opacity linear 0.3s;
    box-shadow: 3px 3px 20px grey;
}
    .K_wordPopup::after {
        content: '';
        position: absolute;
        top: 100%;
        left: calc(50% - 12px);
        width: 0px;
        height: 0px;
        border-width: 12px;
        border-style: solid;
        border-color: #d3ac2b transparent transparent transparent;
    }

.K_wordPopup.K_active{
    opacity: 0.5;
}
.K_wordPopup.K_selected{
    opacity: 1;
}